#navCont {
    background-color: #DDDDDD;
    display: flex;
    height: 8vh;
    width: 100%;
    position: -webkit-sticky;
    position: fixed;
    top:0;
}

#nav {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #left {
    width: 60%;
}

#right {
    width: 40%;
} */

#backicon {
    /* padding-left: 20px; */
    position: absolute;
    top: 2.8vh;
    left: 5vw;
}

#FAQbutton {
    /* padding-left: 20px; */
    position: absolute;
    top: 2.8vh;
    right: 15vw;
}

#chattingWith {
    margin: 0;
    color: #00A04B;
}