#navCont {
    background-color: #DDDDDD;
    display: flex;
    height: 8vh;
    width: 100%;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}

#nav {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#backicon {
    /* padding-left: 20px; */
    position: absolute;
    top: 2.8vh;
    left: 5vw;
}

#FAQbutton {
    position: absolute;
    top: 2.6vh;
    right: 5vw;
    font-size: 2vh;
    color: #4c9689;
    background-color: inherit;
    border: none;
}

#chattingWith {
    margin: 0;
    color: #00A04B;
    font-size: 3vh;
    font-weight: 350;
}

@media only screen and (min-width:1000px) {
    #navCont {
        width: 375px;
    }

    #backicon {
        position: absolute;
        top: 3vh;
        left: 2vw;
    }

    #FAQbutton {
        position: absolute;
        top: 3vh;
        right: 2vw;
    }

}