#container {
  width: 100vw;
  height: 100vh;
  border: 20px;
}

#navBar {
  height: 7vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#hamburger {
  padding-right: 8vw;
}

#bg {
  width: 100vw;
}

#bg2 {
  display: none;
}

#benjamin {
  position: absolute;
  left: 2vw;
  top: 9vh;
  border: none;
}

@media only screen and (min-width:1000px) {
  #bg2 {
    display: block;
    width: 100vw;
  }

  #bg {
    display: none;
  }
}